.DS_Store

tmp

# ignore test builds and the build binary
test/build/*/
test/build/gomarvin
gomarvin
gomarvin.gen.ts
gomarvin.json

my_server
chi_with_modules
gin_with_modules
fiber_with_modules
echo_with_modules