{{ $project_name := .ProjectInfo.Name -}}
{{ $api_v 		    := ApiVersion .ProjectInfo.APIPrefix -}}

package server


import (
	res "{{$project_name}}/internal/api/response"
	"{{$project_name}}/pkg/settings"

	{{ if ( eq .ProjectInfo.Framework "gin")  	}}"github.com/gin-gonic/gin"	{{ end }}
	{{ if ( eq .ProjectInfo.Framework "fiber") 	}}"github.com/gofiber/fiber/v2"	{{ end }}
	{{ if ( eq .ProjectInfo.Framework "echo") 	}}"github.com/labstack/echo/v4"	{{ end }}

	{{ if ( eq .ProjectInfo.Framework "chi") }}
	"github.com/go-chi/chi/v5"
	"net/http"
	{{ end }}

	{{ if .Modules -}} 
		{{ range $module := .Modules -}}
			{{ if $module.Endpoints }} "{{$project_name}}/internal/api/{{ $api_v }}/modules/{{ ConvertToLowercase $module.Name}}_module"{{ end }}
		{{ end -}}
	{{ end -}}
)



{{- if ( eq .ProjectInfo.Framework "gin") }}

func Router(app *gin.Engine) {

	app.GET("/", func(c *gin.Context) {
		res.Response(c, 200, nil, "Hello There!")
	})

	api := app.Group(settings.API_PATH) // prefix for routes
	_ = api
	{
	{{ if .Modules -}} 
		{{- range $module := .Modules }}
			{{ if $module.Endpoints }} {{ ConvertToLowercase $module.Name }}_module.Router__(api){{ end -}}
		{{ end -}}
	{{ end -}}
	}

}
{{- end }}





{{- if ( eq .ProjectInfo.Framework "fiber") }}

func Router(app *fiber.App) {

	// home_view
	app.Get("/", func (c *fiber.Ctx) error {
		return res.Response(c, 200, nil, "Hello There!")
	})

	// add a prefix for the routes
	api := app.Group(settings.API_PATH)
	_ = api

	{{ if .Modules -}} 
		{{- range $module := .Modules }}
			{{ if $module.Endpoints }}{{ ConvertToLowercase $module.Name }}_module.Router__(api){{ end -}}
		{{ end -}}
	{{ end -}}
}

{{- end }}






{{- if ( eq .ProjectInfo.Framework "echo") }}

func Router(app *echo.Echo) {

	// home_view
	app.GET("/", func (c echo.Context) error {
		return res.Response(c, 200, nil, "Hello There!")
	})

	// add a prefix for the routes
	api := app.Group(settings.API_PATH)
	_ = api

	{{ if .Modules -}} 
		{{- range $module := .Modules }}
			{{ if $module.Endpoints }}{{ ConvertToLowercase $module.Name }}_module.Router__(api){{ end -}}
		{{ end -}}
	{{ end -}}
}

{{- end }}



{{- if ( eq .ProjectInfo.Framework "chi") }}

func Router(app *chi.Mux) {

	// home_view
	app.Get("/", func(w http.ResponseWriter, r *http.Request) {
		res.Response(w, 200, nil, "Hello There!")
	})

	api := chi.NewRouter()
	app.Mount(settings.API_PATH, api)

	{{ if .Modules -}} 
		{{- range $module := .Modules }}
			{{ if $module.Endpoints -}}{{ ConvertToLowercase $module.Name }}_module.Router__(api){{ end -}}
		{{- end }}
	{{ end -}}
}

{{- end }}