{{ $go_version      := .ProjectInfo.GoVersion -}}
{{ $project_name    := .ProjectInfo.Name -}}
package server

import (

	{{- if ( eq .ProjectInfo.Framework "gin") }}
	"github.com/gin-gonic/gin"
	{{ end }}

	{{- if ( eq .ProjectInfo.Framework "fiber") }}
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/logger"
	"github.com/gofiber/helmet/v2"
	"github.com/gofiber/fiber/v2/middleware/cors"
	{{ end }}


	{{- if ( eq .ProjectInfo.Framework "echo") }}
	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
	{{ end }}


	{{- if ( eq .ProjectInfo.Framework "chi") }}
	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
	"github.com/go-chi/cors"
	{{ end }}

    "{{$project_name}}/pkg/app"
)


type server struct {
	app *app.App
}

func NewServer(app *app.App) *server {
	return &server{app}
}

func (s *server) Start() {
}



{{- if ( eq .ProjectInfo.Framework "gin") }}

func Start() *gin.Engine {

    server := gin.Default() 	// create the server
    Router(server) 	// use endpoints
    return server
}

{{- end }}






{{- if ( eq .ProjectInfo.Framework "echo") }}
func Start() *echo.Echo {
    server := echo.New()				// create the server

    server.Use(
        middleware.Logger(),        // logs the requests
        middleware.Recover(),       // 
        middleware.CORS(),          // allow fetch from frontend
    )

    Router(server) 	// use endpoints
    return server
}
{{ end }}





{{- if ( eq .ProjectInfo.Framework "fiber") }}
func Start() *fiber.App {
    server := fiber.New()    	// create the server

    server.Use(
        logger.New(),       // logs the requests
        cors.New(),         // allow fetch from frontend
        helmet.New(),       // security headers
    )

    Router(server) 	        // use endpoints

    return server
}
{{- end }}





{{- if ( eq .ProjectInfo.Framework "chi") }}
func Start() *chi.Mux {

    server := chi.NewRouter()

    server.Use(
        middleware.Logger, 
        middleware.Recoverer,
        middleware.AllowContentType("application/json"),
        middleware.ContentCharset("UTF-8", "Latin-1", ""),
        cors.Handler(cors.Options{
            AllowedOrigins:   []string{"https://*", "http://*"},
            AllowedMethods:   []string{"GET", "POST", "PUT", "DELETE", "OPTIONS"},
            AllowedHeaders:   []string{"Accept", "Authorization", "Content-Type", "X-CSRF-Token"},
            AllowCredentials: false,
            MaxAge:           300,
        }),
    )

    Router(server) 	// use endpoints
    return server
}
{{- end }}


