package settings

import (
	"fmt"
)

var (
	// Go .env vars
	Environment EnvConfig
	// New variables based on .env values
	BASE_URL	= fmt.Sprintf("%s%s", Environment.Backend.HostURL, Environment.Backend.APIPath) // host + api prefix path
)
