package settings

const (
    // Placeholder state for the application
    DEBUG_MODE  = true
     // Placeholder state for the api server (variable read from the gomarvin config file on initial run)
    API_PATH    = "{{ .ProjectInfo.APIPrefix }}"
    // Placeholder state for the api server (variable read from the gomarvin config file on initial run)
    BACKEND_PORT = {{ .ProjectInfo.Port }}
)