package utils

// Placeholder function to be replaced in the controllers after codegen. 
// Usually replaced with the function that returns the data from the
// database, if everything goes ok.
func PlaceholderFunction() (struct{}, error) {
	var placeholder struct{}
	return placeholder, nil
}